/* Projects section */

.project-cards-container {
  display: grid;
  max-width: 60rem;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 10px;
}

.project-cards-container.fadein {
  animation: project-card-fade-in 250ms forwards;
}

.project-cards-container.fadeout {
  animation: project-card-fade-out 250ms forwards;
}

.project-card {
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  border: 1px solid var(--white-color, white);
  background-color: #2d2d2d;
  text-align: center;
}

.project-card img {
  margin-top: 1rem;
}

.project-card h3 {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.project-card p {
  padding: 0 2rem;
  font-size: 1rem;
}

.project-card label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.project-card a {
  color: var(--white-color);
  font-size: 1rem;
  margin-top: 0.5rem;
}

.projects-counter {
  margin-bottom: 2rem;
}

.projects-counter.fadein {
  animation: project-card-fade-in 250ms forwards;
}

.projects-counter.fadeout {
  animation: project-card-fade-out 250ms forwards;
}

@keyframes project-card-fade-in {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

@keyframes project-card-fade-out {
  from {
    filter: opacity(1);
  }
  to {
    filter: opacity(0);
  }
}

.project-card.fadein {
  animation: project-card-fade-in 250ms forwards;
}

.project-card.fadeout {
  animation: project-card-fade-out 250ms forwards;
}

.project-card:hover {
  border: 1px solid var(--red-color);
  transform: scale(1.05);
  transition: transform 200ms;
}

.filter-button-container {
  margin-bottom: 2rem;
}

.filter-button {
  border-radius: 5px;
  font-family: inherit;
  color: var(--black-color);
  background-color: var(--white-color);
  outline: none;
  border: 2px solid #ccc;
  margin: 0 0.2rem 0.2rem 0.3rem;
  padding: 0.2rem 1.2rem;
}

.filter-button:hover {
  color: var(--red-color);
}

.filter-button:focus {
  border: 2px solid #00f;
}

.filter-button.active {
  color: var(--white-color);
  background-color: var(--red-color);
}
