body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-theme {
  background-color: var(--white-color);
  color: var(--black-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.background-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.light-background {
  background-image: url(../assets/images/background_light.jpg);
  opacity: 0;
  z-index: -1;
}

.dark-background {
  background-image: url(../assets/images/background.jpg);
  opacity: 0;
  z-index: -1;
}

.header-main-container {
  transition: background-color 0.3s ease;
}

.header-main-container.light-theme {
  background-color: var(--black-color, black);
  transition: background-color 0.3s ease;
}

.header-links-container a {
  transition: color 0.3s ease;
}

.header-links-container.light-theme {
  a {
    color: var(--white-color);
    transition: color 0.3s ease;
  }
}

.visible {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.theme-switcher {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 1rem;
  gap: 0 0.5rem;

  button {
    padding: 0.2rem;
  }
}

.theme-button {
  color: red;
}
