body.light-theme {
  background-color: var(--white-color);
  color: var(--black-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.background-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.light-background {
  background-image: url(../assets/images/background_light.jpg);
  opacity: 0;
  z-index: -1;
}

.dark-background {
  background-image: url(../assets/images/background.jpg);
  opacity: 0;
  z-index: -1;
}

.visible {
  opacity: 1;
  transition: opacity 0.3s ease;
}
