body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-theme {
  background-color: var(--white-color, white);
  color: var(--black-color, black);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-theme figcaption,
body.red-theme figcaption {
  color: black;
}

body.light-theme .skills-main-container,
body.light-theme .experience-main-container,
body.red-theme .skills-main-container,
body.red-theme .experience-main-container {
  color: #000;
}

body.light-theme h2,
body.red-theme h2 {
  color: #000;
}

body.light-theme .project-card {
  border: 1px solid var(--black-color, black);
  background-color: #fff;
}

body.light-theme .project-card:hover {
  border: 1px solid var(--red-color, red);
}

body.light-theme .project-card a {
  color: var(--black-color, black);
}

body.red-theme {
  background-color: #ff9ca8;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.red-theme .gallery-image img {
  border: 2px solid #000;
}

body.red-theme .progress-status {
  background-color: #000;
}

body.red-theme .project-card {
  border: 1px solid #000;
  background-color: var(--grey-color, grey);
}

body.red-theme .project-card:hover {
  border: 1px solid #fff;
}

body.red-theme .project-card a {
  color: #000;
}

body.red-theme .form-main-container small {
  color: #000;
}

body.red-theme .form-main-container input.error {
  border: 2px solid #000;
}
body.firstLoad {
  transition: none;
}

.project-card {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.background-main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: -1;
}

.light-background {
  background-image: url(../assets/images/background_light.jpg);
  opacity: 0;
}

.dark-background {
  background-image: url(../assets/images/background_dark.jpg);
  background-color: green;
  opacity: 0;
}

.red-background {
  background-image: url(../assets/images/background_red.jpg);
  opacity: 0;
}

.header-main-container {
  transition: background-color 0.3s ease;
}

.header-main-container.light-theme {
  background-color: var(--black-color, black);
  transition: background-color 0.3s ease;
}

.header-main-container.red-theme {
  background-color: var(--grey-color, grey);
  transition: background-color 0.3s ease;
}

.header-main-container.firstLoad {
  transition: none;
}
.header-image-container img {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header-image-container img.firstLoad {
  opacity: 1;
}

.header-image-container img.visible {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.header-links-container a {
  transition: color 0.3s ease;
}

.header-links-container.light-theme {
  a {
    color: var(--white-color);
    transition: color 0.3s ease;
  }
}

.header-links-container.red-theme {
  a {
    color: #000;
    transition: color 0.3s ease;
  }
}

.header-links-container.red-theme ul li a[aria-current="page"] {
  color: rgb(231, 26, 26);
}

.header-themebuttons-container {
  display: flex;
  width: 40rem;
}

.top-of-page-container.red-theme {
  a {
    color: var(--black-color, black);
  }
}

.footer-main-container {
  transition: background-color 0.3s ease;
}

.footer-main-container.light-theme {
  background-color: var(--black-color, black);
  transition: background-color 0.3s ease;

  small {
    color: var(--white-color, white);
    transition: color 0.3s ease;
  }

  a {
    color: var(--white-color, white);
    transition: color 0.3s ease;
  }
}

.footer-main-container.red-theme {
  background-color: var(--grey-color, grey);
  transition: background-color 0.3s ease;

  small {
    color: var(--black-color, black);
    transition: color 0.3s ease;
  }

  a {
    color: var(--black-color, black);
    transition: color 0.3s ease;
  }
}

.footer-main-container.firstLoad {
  transition: none;
}

.visible {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.theme-switcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.theme-button {
  border-radius: 5px;
  font-family: inherit;
  color: var(--black-color);
  background-color: var(--white-color);
  outline: none;
  border: 2px solid #ccc;
  margin: 0 0.2rem 0.2rem 0.3rem;
  padding: 0.2rem 1.2rem;
}

.theme-button:hover {
  color: var(--red-color);
}

.theme-button:focus {
  border: 2px solid #00f;
}

.theme-button.active {
  color: var(--white-color);
  background-color: var(--red-color);
}
